# ====================
# Port Config  =======
# ====================

# What port should Docker expose for the web app? (Defaults to 8080)
EXPOSED_PORT=

# ====================
# Security ===========
# ====================

# CORS: Multiple allowed origin URLs possible, e.g.: ALLOWED_ORIGINS = ["A", "B", "C"]
ALLOWED_ORIGINS = 

# SSL verification: set to true if OJS has a self-signed or expired certificate
ALLOW_BROKEN_SSL=

# ====================
# Docker DB ==========
# ====================

# required
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
# optional (defaults to mysql, relateduser, relateddb)
MYSQL_HOST=
MYSQL_USER=
MYSQL_DB=

# ====================
# OJS Config =========
# ====================

# First half of full URL for OJS 3.x, e.g.: https://myurl.com (no forward slash at end)
OJS_PROTOCOL_AND_DNS=

# Second half of full URL for OJS 3.x, e.g.: /ojs/JournalPath (include any initial forward slash, but no forward slash at end)
OJS_BASE_URI=

## Example 1: https://my-open-journal.com/ojs/index.php/MOJ/
## -> OJS_PROTOCOL_AND_DNS=https://my-open-journal.com
## -> OJS_BASE_URI=/ojs/index.php/MOJ

## Example 2: https://another-journal.com/
## -> OJS_PROTOCOL_AND_DNS=https://www.another-journal.com
## -> OJS_BASE_URI=

# OJS API key. For more info, see here: https://docs.pkp.sfu.ca/dev/api/ojs/3.4#tag/Authentication
OJS_API_KEY=

# Specify which journal section(s) are displayed in the app, e.g.: OJS_SECTION_IDS:1,2,3,4 (a single value can also be given)
OJS_SECTION_IDS=
