# === CORS Headers ===

# Multiple allowed origin URLs possible
ALLOWED_ORIGINS = ["A", "B", "C"]

# === Database ===

MYSQL_HOST=
MYSQL_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_DB=

# === OJS API ===

# Full URL for OJS 3.0 API, e.g.: https://myurl.com/JournalPath/api/v1/submissions (no forward slash at end)
OJS_API_URL=

# OJS API key. For more info, see here: https://docs.pkp.sfu.ca/dev/api/ojs/3.4#tag/Authentication
OJS_API_KEY=
