# === CORS Headers ===

# Multiple allowed origin URLs possible
ALLOWED_ORIGINS = ["A", "B", "C"]

# === Database ===

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DB=

# === OJS API ===

# Full URL for OJS 3.x, e.g.: https://myurl.com (no forward slash at end)
OJS_PROTOCOL_AND_DNS=
# Full URL for OJS 3.x, e.g.: /ojs/JournalPath (include any initial forward slash, but no forward slash at end)
OJS_BASE_URI=
# Example: https://my-open-journal.com/ojs/index.php/MOJ/
# OJS_PROTOCOL_AND_DNS=https://my-open-journal.com
# OJS_BASE_URI=/ojs/index.php/MOJ
# Example: https://another-journal.com/
# OJS_PROTOCOL_AND_DNS=https://www.another-journal.com
# OJS_BASE_URI=


# OJS API key. For more info, see here: https://docs.pkp.sfu.ca/dev/api/ojs/3.4#tag/Authentication
OJS_API_KEY=
